.v-head{background: url(../images/bg_placeholder_large.png) no-repeat center center #4f4f4f;}
.v-slide{position:relative;margin:0 auto;overflow:hidden;height:380px;}
.v-slide-pic-wrap{position:relative;overflow:hidden;height:380px;}
.v-slide-pic{position:relative;height:380px;}
.v-slide-trigger, .slick-dots {position:absolute;width:100%;bottom:38px;z-index:5;height:40px;text-align:center;}
.v-slide-trigger li, .slick-dots li{position:relative;display:inline-block;*display:inline;*zoom:1;width:64px;height:36px;overflow:hidden;margin:2px;-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);}
.v-slide-trigger li.current, .slick-dots li.slick-active {box-shadow: 0px 0px 5px 0px rgba(255, 191, 0, 0.7);}
.v-slide-trigger li img, .slick-dots li img {width:64px;height:36px;}
.v-slide-trigger span, .slick-dots span{position:absolute;top:0;left:0;width:62px;height:34px;opacity:0.4;filter:alpha(opacity=40);background-color:#000;border:1px solid #fff;}
.v-slide-trigger a:hover span,.v-slide-trigger .current span, .slick-dots a:hover span, .slick-dots .slick-active span{
	/*width:84px;height:46px;border:2px solid #fcd633;opacity:1;filter:alpha(opacity=100);background:none;*/
	width:60px;height:32px;border:2px solid #ffbf00;opacity:1;filter:alpha(opacity=100);background:none;
}
.v-outer{position:absolute;left:50%;top:0;height:290px;z-index:10;margin-left:-585px;}
/*.v-hot{
	position: absolute;
	z-index: 1;
	color:#fff;
	width: 100%;
    height: 100%;
}*/
.v-hot{
	position: absolute;
	z-index: 1;
	color:#fff;
	width: 100%;
	  height: 100%;
/*	box-shadow: inset 600px 0px 500px -400px rgba(50,50,50,.2);*/
    /*background: -moz-linear-gradient(45deg, rgba(0,0,0,0.4) 5%, rgba(0,0,0,0) 45%);*/ /* FF3.6-15 */
    /*background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.4) 5%,rgba(0,0,0,0) 45%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(45deg, rgba(0,0,0,0.4) 5%,rgba(0,0,0,0) 45%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 );*/ /* IE6-9 fallback on horizontal gradient */
}
.v-hot-wrap {
    position: relative;
    margin: 0 auto;
    width: 1170px;
	height: 342px;
	bottom: 0;
}
.v-hot-details-wrap {
	position: absolute;
	bottom: 0;
    width: 380px;
}
.v-hot a div{
	color:#fff;
}
.v-hot a div.v-tip {
	color: #333;
}
.v-hot-name{
	font-size: 30px;
	line-height: 34px;
	width: 310px;
	margin-top: 5px;
}
.v-hot-intro{font-size:18px;margin-top: 7px;}
/*.v-hot span{display:block;}*/


.v-hot-amount {
	font-size:14px;
	margin-top: 17px;
}
.v-hot-time{
	/*font-size:14px;
	margin-top:7px;*/
	font-size:14px;
	margin-top:6px;
}
.time-sepa-wrap {
	width: 5px;
	display: inline-block;
}
/*
.v-hot-intro,.v-hot-amount,.v-hot-time{margin-top:5px;}
*/
.v-show-intro{
	/*margin-top: 17px;*/
	overflow: hidden;
	position: absolute;
	bottom: 0;
	/*position:absolute;
	left:6px;
	bottom:-54px;
	width:130px;
	height:47px;*/
}
.v-hot.is-countdown .v-hot-details{
	padding-bottom: 62px;
}
.v-show-hd{
	float:left;
	line-height: 17px;
	/*width:52px;
	height:46px;*/
	font-size:14px;
	color:#fff;
	text-align:center;
	background-color:#e0266e;
	/*padding: 0 9px;*/
	padding: 6px 10px;
	letter-spacing: 1px;
}
.v-show-series-highlight {
	/*color: #fcd633;*/
	color: #ffbf00;
}
.v-show-hd em{display:inline-block;padding-top:3px;}
.v-show-time {
	float:left;
	/*width:78px;
	height:46px;*/
	text-align:center;
	font-size:18px;
	line-height:20px;
	color:#fff;
	background:rgba(87,83,87,.8);
	padding: 0 10px;
	padding-top: 5px;
}
.v-show-time em{display:block;padding-top:4px;}
.v-show-time i{
	/*display:inline-block;margin-top:-4px;font-size:14px;font-style:normal;color:#fcd633;*/
	display:inline-block;margin-top:-4px;font-size:14px;font-style:normal;color:#ffbf00;
}
.v-show-time .v-minu{margin-left:20px;}
.v-grid-hd{font-size:26px;margin-bottom:16px;}
/*.v-grid-img img{border:1px solid #e9ebf2;}*/
.v-grid-1{margin-top:40px;}
.v-grid-1-m{float:left;width:818px;}
.v-grid-1-s{float:right;width:300px;}
.v-grid-1-roll{height:300px;overflow:hidden;}
.v-grid-1-roll-item{float:left;width:818px;overflow:hidden;}
.v-grid-1-roll-item .v-tip,.cate-list .v-tip{top:0;left:0;}
.v-grid-1-roll-m{float:left;width:450px;}
.v-grid-1-roll-s{float:right;width:348px;}
/*.v-grid-1-roll-list{margin:-16px 0 0 -20px;}*/
.v-grid-1-fb{margin-top:30px;}
/*
.v-grid-1-roll-list-2,.v-grid-2-roll-slist{margin-left:-30px;}*/
.roll-btn{top:50%;margin-top:-31px;width:26px;height:52px;border-radius:3px;background-color:#fff;z-index: 10;}
.roll-btn span{
	display:inline-block;
	width:17px;
	height:30px;
	background:url(../images/roll_btn.png) no-repeat;
}
.roll-lbtn span:hover {
	background-position: -54px 0;
}
.roll-rbtn span:hover {
	background-position: -36px 0px;
}
.roll-lbtn{left:-2px;box-shadow:2px 1px 5px rgba(0,0,0,.3);}
.roll-rbtn{right:-2px;box-shadow:-2px 1px 5px rgba(0,0,0,.3);}
.roll-lbtn span{background-position:-18px 0;margin:12px 11px 0 2px;}
.roll-rbtn span{background-position:0 0;margin:12px 0 0 8px;}
.v-grid-1-roll-wrap{width:100%;}
.v-grid-2-roll-item{float:left;width:1170px;overflow:hidden;}
.v-grid-2-roll-s{float:right;width:710px;}
.v-grid-2-roll-list{margin-left:-12px;}
.v-grid-2-roll-list li{margin-left:12px;}
.v-grid-2-roll-sitem{float:left;width:100%;}
.v-show-menu{position:fixed;width:100%;left:0;bottom:0;z-index:20;height:44px;background-color:#2e2d2d;}
.v-show-menu li{float:left;width:194px;height:30px;line-height:30px;margin-top:8px;border-right:1px solid #666;font-size:14px;text-indent:1.5em;color:#999;}
.v-show-menu .on{color:#fff;}
.v-show-menu .v-show-menu-title{height:auto;margin:0;border-right:0 none;height:44px;line-height:44px;color:#fff;background-color:#d0000a;}
.v-show-menu b{margin-right:10px;}
.v-show-menu .live-sh{margin-top:12px;border-right:0 none;text-align:right;}
.v-show-menu .live-show{display:inline-block;width:20px;height:14px;border:2px solid #fff;border-radius:2px;}
.v-show-menu .live-show span{float:right;margin-top:9px;width:8px;height:5px;overflow:hidden;background-color:#fff;}
.v-show-menu .live-hide{display:inline-block;margin:0 10px;width:24px;height:18px;border-radius:2px;background-color:#464646;}
.v-grid-pub-wrap{padding-top:1px;height:190px;background-color:#ead3b8;}
.v-grid-pub-wrap-2{background-color:#5f8c1f;}
.v-grid-pub-item{width:888px;margin:20px 0 0 230px;}
.v-grid-pub-list{height:146px;overflow:hidden;}
.v-grid-pub-list ul{margin-left:-12px;}
.v-grid-pub-list li{float:left;padding-top:1px;margin-left:12px;display:inline;width:168px;height:145px;text-align:center;background-color:#fff;}
.v-grid-pub-list p{text-align:left;padding-left:10px;}
.v-grid-pub-slist{float:left;}
.v-grid-pub-wrap .roll-lbtn{left:-33px;}
.v-grid-pub-wrap .roll-rbtn{right:-55px;}
.v-app{margin-top:100px;height:246px;background-color:#f2f2fa;}
.app-down{background-color:#fff;}
.app-down-ico{padding:15px 0;}
.app-down-ico img{margin-left:400px;}
/*.v-media{width:365px;height:246px;top:-88px;}

.v-app-ico{width:220px;height:84px;top:34px;left:415px;background:url(../images/app.png) no-repeat;}*/
/*categories*/
.cat-grid-m{width:770px;}
.cate-grid-roll,.cat-grid-roll-s{width:368px;}
.cat-grid-roll-s{float:left;margin-left:32px;}
.cate-grid-list{margin-left:-32px;}
.cate-grid-list li{margin-left:32px;}
.cat-grid-post{float:left;margin-left:20px;}
/*.cate-list{margin-bottom:10px;}*/
.loading{height:150px;background:url(../images/loading.gif) 50% 50% no-repeat;}
/*members*/
.member-head{height:190px;background-color: #f2f2f2;}
.member-info{padding-top:90px;}
.member-info>a {
    float: right;
    margin-top: 10px;
    padding: 3px 20px;
    background-color: #AAA;
    color: #FFF;
    border-radius: 15px;
    margin-left: 10px;
    cursor:pointer;
}
.member-figure{float:left;width:74px;height:74px;border-radius:74px;}
.member-figure img,
.dialog .user-figure img{
	border:2px solid #FFF;
	border-radius:70px;
	width: 70px;
    height: 70px;
    background-color: #FFF;
	padding: 0;
}
body.vip .member-figure img{border:2px solid #E31C79;}
.member-intro{float:left;  padding: 5px 0 0 17px;}
.member-intro .username{font-size:24px;color:#333;margin-top: 0px;}
.member-intro .useroper a,.member-intro .useroper{color:#888888;font-size: 12px;margin-top: 10px;}
.member-intro .useroper a {cursor: pointer;}
.member-intro .useroper a.unbind-btn:hover {
    color:#333;
    text-decoration: underline;
}
.member-intro .useroper span {color:#333; margin-left: 10px; margin-right: 10px;}
.member-intro a.logout {padding-left: 15px;  background: url(../images/member/bg_divider.png) 5px 50% no-repeat;}
.memeber-rd-hd{height:40px;border-bottom:0px solid #dadada;background-color:#f2f2f2;}
.memeber-rd-tab li{float: left;
    padding-right: 8px;
    display: inline;
    padding-left: 8px;
    border-top: 2px solid #F2F2F2;}
.memeber-rd-tab li.current {background-color:#FFF;border-top: 2px solid #FFBF00;}
.memeber-rd-tab a{line-height:40px;font-size:20px;color:#909496;text-decoration: none;}
.memeber-rd-tab .current a{color:#000;}
/*.rcd-del{right:-8px;top:-8px;width:20px;height:20px;border-radius:20px;border:2px solid #fff;background:url(../images/del.gif) 50% 50% #f60000 no-repeat;}*/
.rcd-del {z-index: 500; right:-8px;top:-8px;width:20px;height:20px;border-radius:20px;border:2px solid #fff;background:url(../images/del.gif) 50% 50% #ffbf00 no-repeat;}
.rcd-mark{display:inline-block;width:11px;height:11px;border-radius:11px;background-color:#f60000;}
.use-info dt{font-size:24px;color:#000;}
.use-info dd{line-height:30px;}
.use-lang{float:right;font-size:14px;}
/*.follow-live{position:fixed;top:200px;right:50px;z-index:100;width:330px;height:220px;background-color:#000;}*/
.follow-live-bd{
	border-bottom:0 none;
	padding:4px 4px 0 4px;
	background: #000000;
	overflow: hidden;
/*	width: 320px;
    height: 183px;*/
}
.follow-live .is-fullscreen .fp-volume {
	left: 10px;
}
.flowplayer {
	width: 320px;
}

.follow-link{position:absolute;top:4px;left:5px;width:320px;height:180px;background:url(about:blank) fixed;}
.follow-live-extra{height:32px;line-height:32px;background: #000000;color: #ffffff;}
.follow-live-cr{display:inline-block;width:8px;height:8px;border-radius:8px;background-color:#e0266e;}
.follow-live-extra del,.follow-live-extra em{text-decoration:none;}
.follow-live-body {background:url(../images/home/bg_live_white_border.png);padding: 1px;    box-shadow: 0px 0px 20px rgba(0,0,0, 0.3);}
#live-episode {
    width: 310px;
    display: inline-block;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#live-episode b{
	font-weight: normal;
}

#live-video .fp-timeline {
	display: none;
}

#live-video .fp-playbtn {
    margin-top: 0px;
		float: left;
    position: absolute;
    left: 0;
}
#live-video .fp-elapsed, #live-video .fp-duration, #live-video .fp-cc {
    display: none;
}
#live-video .fp-remaining {
	position: absolute;
  left: 45px;
}
#live-video .is-ad-visible .fp-remaining {
	display: block;
}
#live-video .fp-volume {
    width: 90px;
    display: block;
		position: absolute;
    right: 45px!important;
		margin-top:5px;
		height: auto;
}
#live-video .is-ad-visible .fp-volume {
		margin-top:0;
}
#live-video .fp-volume .fp-volumebar {
    display: inline-block;
}
/*#live-video .fp-header {
    display: block;
    width: 40px;
    right: 0;
    bottom: 0;
    padding-left: 0;
    top: auto;
    height: 38px;
    background: transparent;
    z-index: 3;
}*/
#live-video .fp-fullscreen {
	position: absolute;
	right: 0;
	top: 4px;
}

.grid .item {
	display: inline-block;
	position: relative;
	/*margin: 16px 12px 0 0;
	width: 168px;*/
}
.grid .item .img_wrapper {
	display: block;
	position: relative;
	overflow: hidden;
}
.grid_type_1 .first_subtray .item .img_wrapper,
.grid_type_3 .first_subtray .item .img_wrapper {
	height: 248px;
	border: 1px solid #e9ebf2;
	background: url(../images/bg_placeholder_medium.png) no-repeat center center #4f4f4f;
}
.grid_type_1 .child_subtray .item .img_wrapper,
.grid_type_3 .child_subtray .item .img_wrapper {
	height: 93px;
	width: 166px;
	border: 1px solid #e9ebf2;
	background: url(../images/bg_placeholder_small.png) no-repeat center center #4f4f4f;
}
.grid_type_2 .first_subtray .item .img_wrapper,
.grid_type_2 .child_subtray .item .img_wrapper,
.grid_type_2 .grid_scroll .item .img_wrapper{
	height: 93px;
	width: 166px;
	background: url(../images/bg_placeholder_small.png) no-repeat center center #4f4f4f;
	border: 1px solid #e9ebf2;
}
.grid_type_4 .first_subtray .item .img_wrapper,
.grid_type_4 .child_subtray .item .img_wrapper,
.grid_type_4 .grid_scroll .item .img_wrapper{
	height: 249px;
	width: 166px;
	background: url(../images/bg_placeholder_small.png) no-repeat center center #4f4f4f;
	border: 1px solid #e9ebf2;
}
.grid_type_1 .not-first-page .child_subtray:first-child,
.grid_type_3 .not-first-page .child_subtray:first-child {
	/*padding-left: 50px;*/
}

.grid .grid_title {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #000000;
	display: flex;
    justify-content: space-between;
	align-items: baseline;
}
.grid .item img {
	width: 166px;
}
.grid .item img.premium_mark {
	width: 16px!important;
    height:16px;
    vertical-align: bottom;
    margin-bottom: 2px;
    margin-left: 6px;
}
.grid .item img.time_mark {
	width: 13px!important;
    height: 13px;
    vertical-align: bottom;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

/*.grid_type_2 .item_name,
.grid_type_2 .item_number {
	padding-left: 7px;
}*/
.grid_type_2 .item_extra {
	display: none;
}
.grid_type_4 .item_extra {
	display: none;
}
.grid .item .item_name {
/*	margin-top: 5px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #333;
	font-size: 17px;*/
	margin-top: 5px;
	overflow: hidden;
	color: #333;
	font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}
.grid .item .item_name:hover {
	color: #e77b27;
}
.grid .item .play-timeline, .video-cmd-item .play-timeline{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4a4a4a;
    z-index: 98;
}
.grid .item .play-progress, .video-cmd-item .play-progress {
    bottom: 0;
    left: 0;
    background-color: #ffbf00;
    height: 2px;
    z-index: 99;
}
.video-cmd-item .play-timeline, .video-cmd-item .play-progress {
    bottom: -1px;
    left: 1px;
}
.grid .item .play-ep {
    left: 0;
    bottom: 0;
    height: 20px;
    /*background: rgba(0,0,17,0.8);*/
	background: rgba(0,0,0,0.5);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    padding: 0 8px;
}
.grid_scroller {
	position: relative;
}
.grid_scroller_outer {
	position: relative;
}
.grid_con.touch .grid_scroller_outer, .grid_type_2 .grid_con.touch .grid_scroller_outer, .grid_type_4 .grid_con.touch .grid_scroller_outer {
	overflow: hidden;
	overflow-y: hidden;
    overflow-x: auto;
}
.grid_con.touch .grid_scroller {
    display: table-row;
}
.grid .show_all_con{
	display: none;
	flex-shrink: 0;
    margin-left: 12px;
}
.grid .show_all_con .show_all{
    color: #C5C5C5;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    display: flex;
}
.grid .show_all_con .show_all .arrow{
    margin-left: 8px;
    width: 16px;
    height: 16px;
}
.grid .show_all_con .show_all .arrow{
    background: url(../images/vwo/icon_show_all.png) 0% 0% / 32px 16px no-repeat transparent;
}
.grid .show_all_con .show_all:hover{
    color: #FFBF00;
}
.grid .show_all_con .show_all:hover .arrow{
    background-position: right top;
}

.grid_type_2 .grid_con.touch .subtray {
	padding-top:20px;
}
.grid_type_4 .grid_con.touch .subtray {
	padding-top:20px;
}
.grid_scroller_inner {
	float: left;
}
.list {
	display: inline;
	float: left;
}
.grid_type_2 {
	margin-bottom: 20px;
}
.grid_type_4 {
	margin-bottom: 20px;
}
/*.grid_type_2 .grid_con {
	height: 190px;
	background-color: #5f8c1f;
	background-position: left top;
	background-repeat: no-repeat;
}*/
 .grid_type_2 .grid_con {
	height: 190px;
	/*overflow: hidden;*/
	background-position: left top;
	background-repeat: no-repeat;
/*	box-shadow: inset 0px 0px 10px rgba(0,0,0,.1);*/
/*  background: #FFF8E4;*/
    background: #fcf4de;
}
 .grid_type_4 .grid_con {
	height: 346px;
	background-position: left top;
	background-repeat: no-repeat;
    background: #fcf4de;
}
.grid_type_2 .grid_scroller_outer {
	padding-top: 10px;
	margin: 0 52px 0 230px;
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
.grid_type_4 .grid_scroller_outer {
	padding-top: 10px;
	margin: 0 52px 0 230px;
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
.grid_type_2 .grid_scroller_wrapper {
	overflow: hidden;
	height: 170px;
	/*width: 100%;*/
	width: 1270px;
}
.grid_type_4 .grid_scroller_wrapper {
	overflow: hidden;
	height: 326px;
	width: 1270px;
}
.grid_type_2 .item {
	width: 166px;
	height: 144px;
	margin-top: 0px;
}
.grid_type_4 .item {
	width: 166px;
	height: 310px;
	margin-top: 0px;
}
.grid_type_3 {
	padding-bottom: 10px;
	padding-top: 28px;
	/*height: 369px;*/
	/*padding-bottom: 11px;
	padding-top: 40px;*/
}
.grid_type_3 .float-left{
	width:314px;
	padding-left:5px;
	margin-bottom:10px;
}

.grid_type_3 .first_grid_item, .grid_type_1 .first_grid_item {
	width: 450px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.grid_type_3 .first_grid_item img, .grid_type_1 .first_grid_item img {
	width: 450px;
	height: 250px;
}
.grid_type_3 .grid_scroller_wrapper, .grid_type_1 .grid_scroller_wrapper {
	width: 100%;
	height: 310px;
	overflow: hidden;
}
.grid_type_1 .grid_scroller_wrapper {
	height: 315px;
}
.grid_type_3 .item {
	margin-right: 12px;
}
.grid_type_3>div:first-child {
	width: 810px;
	float: left;
}
.grid_type_3 .grid_con {
	width: 810px;
	float: left;
	margin-right: 31px;
}
.grid_type_3 .list, .grid_type_1 .list {
	margin-left: 465px;
	clear: left;
}
.grid_type_1 .child_subtray .item:first-child,
.grid_type_3 .child_subtray .item:first-child {
/*	margin-bottom: 16px;
	margin-bottom: 18px;*/
	height: 155px;
}

/********* Top 10 for SEO *********/
.grid.category_top {
	margin-bottom: -20px;
}
.grid_scroll {
	display: flex;
	height:170px;
	position: relative;
}
.grid_type_4 .grid_scroll {
	height:326px;
}
.grid_scroll .item{
	margin-right: 10px;
	width: 168px;
}
.grid_type_2 .grid_scroll .item img{
	max-height: 93px;
}
/********* Top 10 for SEO *********/

.gridRight {
    display:none;
    -webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}


.left-tip .play-aw{
	left: auto;
	right: -18px;
	background-position: right center;
}
.flowplayer.is-playing {
  background: #585858;
}
#preview-tv-wrap {
	width: 100%;
	margin: 0 auto;
	height: 380px;
	position: absolute;
}
#preview-tv-position {
	width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.follow-live {
	position: absolute;
	top: 250px;
	right: 0;
	z-index: 10;
	opacity: 0;
}
.item .item_name{
	margin-top:5px;
	font-size:16px;
}
.item .item_number{
	margin-top:1px;
	line-height:16px;
}
/*
.follow-live-fixed {
	position: fixed;
	top: 200px;
}*/
.v-show-menu {
	bottom: -44px;
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.v-show-menu-show {
	bottom: 0px;
}


/*
.follow-live {
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
}*/
.grid .item .item_name a{
	color: #333;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.grid .item .item_name a:hover {
	/*color: #e77b27;
	text-decoration: none;*/
	color: #ffbf00;
	text-decoration: none;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.grid .item.mouseenter .item_name a {
	/*color: #e77b27;*/
	color: #ffbf00;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.grid .item .item_number a{
	color: #888;
	font-size: 12px;
}
.grid .item .item_number a:hover {
	text-decoration: none;
}

.first_grid_item .play-ico {
	width: 68px;
	height: 68px;
	margin-top: -34px;
	margin-left: -34px;
	background-image: url(../images/home/icon_hoverView.png);
}
/*.grid_single_rows .roll-lbtn {
	left: -263px;
}
.grid_single_rows .roll-rbtn {
	right: -53px;
}
.grid_type_2 .roll-lbtn {
	left: -232px;
}
*/

/* 轮播大图样式 start */
.v-slide .v-slide-pic li {
/*	display: block;*/
	position: relative;
/*	width: 100%;*/
}
.v-slide .v-slide-pic li a {
	display: block;
    width: 100%;
    height: 380px;
}
.v-slide .v-slide-pic .slick-dots li a {
    display: inline;
    width: auto;
    height: auto;
}
.v-slide .v-slide-pic li .slide_img {
	position: absolute;
	left: 0;
	/*top: 0;
	left: 0;
	left: 50%;*/
	width: 1336px;
	/*height: 380px;
	margin-left: -640px;
	*/
}
/* 轮播大图样式 end */

.vuclip-head .v-slide,
.vuclip-head .v-slide-pic-wrap,
.vuclip-head .v-slide-pic,
.vuclip-head #preview-tv-wrap,
.vuclip-head .v-slide .v-slide-pic li a{
	height:457px;
}
.vuclip-head .v-hot-wrap{
	height:400px;
}
.vuclip-head .v-slide .v-slide-pic li a{
	background-size: 1336px 457px!important;
}
.vuclip-head .follow-live {
    top: 330px;
}

.follow-live .flowplayer.is-mouseover .fp-controls {
	right: 0;
}
.follow-live .flowplayer.is-mouseover .fp-brand {
	display: none;
}

#app {
	display: block;
}
.tablet #app-col-1,
.tablet #app-col-2,
.tablet #app-col-3 {
	margin-right: 12px;
}
.tablet #app-col-1,
.tablet #app-col-2,
.tablet #app-col-3,
.tablet #app-col-4 {
	width: 27%;
	padding: 0;
	margin: 0;
}
.tablet #app-col-3 {
	width: 44%;
}
.tablet #app-col-3 #app-icon img {
    margin-left: 10px;
    margin-right:0;
    width: 30px;
    height: 30px;
}
.tablet #app-col-4 {
    float: none;
    margin: 0 auto;
    padding-top: 15px;
    clear: both;
}
/*.mobile #grids,*/
#category-body-wrap {
    padding-bottom: 50px;
}
.mobile #app {
	/*height: 225px;*/
	height: 190px;
	padding-top: 2px;
}
.mobile #app-col-1,
.mobile #app-col-2,
.mobile #app-col-3,
.mobile #app-col-4 {
	width: 27%;
	padding: 0;
	margin: 0;
}
.mobile #app-col-3 {
	width: 44%;
    /*float: none;
    margin: 0 auto;
    padding-top: 10px;
    clear: both;*/
}
.mobile #app-col-3 #app-icon img {
    margin-left: 10px;
    margin-right:0;
    width: 30px;
    height: 30px;
}
.mobile #app-col-1 img,
.mobile #app-col-2 img,
.mobile #app-col-3 img,
.mobile #app-col-4 img{
	width: 100%;
}

.mobile #app-ios,
.mobile #app-android,
.mobile #app-icon,
.mobile .app-viutv {
	padding-left: 5px;
	padding-right: 5px;
}
.mobile #app-wrap .app-text {
	font-size: 35px;
	height: 50px;
}
.mobile #app .float-right {
	display: none;
}
.mobile #app-device {
	display: none;
}
.mobile #app-col-4 {
	float: none;
    margin: 0 auto;
    padding-top: 15px;
    clear: both;
}
.mobile #app-icons {
	/*width: 100%;*/
}
/* adaptive layout */

/* ViuTV banner */
#viu-tv-banner {
	display: none;
    margin-top: 50px;
}
#viu-tv-banner img {
	max-width: 100%;
}

/* layout: 1024px or lower */
@media screen and (max-width: 1280px) {



	.v-slide .v-slide-pic li .slide_img {
		left: 50%;
  		transform: translate(-50%, 0);
	}

	/*.v-hot {
		padding-left: 30px;
	}*/
	/*.v-slide {
		width: 1024px;
	}*/
	#preview-tv-position {
		width: 984px;
	}
	.grid_type_3>div:first-child {
		width: 630px;
	}
	.grid_type_3 .grid_con {
		width: 630px;
		margin-right: 25px;
  	}
  	.grid_type_2 .grid_scroller_wrapper {
  		width: 1075px;
  	}
  	.grid_type_2 .grid_scroller_outer {
		/*width: 708px;*/
		width: 984px;
  	}
  	.grid_type_4 .grid_scroller_wrapper {
  		width: 1075px;
  	}
  	.grid_type_4 .grid_scroller_outer {
		width: 984px;
  	}
}

/*@media screen and (max-width: 1050px) {
	body {
		min-width: 1050px;
	}
	.wrap {
		width: 984px;
	}
	.v-topnav, .v-head {
		min-width: 1050px;
	}
	.v-slide {
		width: 1024px;
		overflow: hidden;
	}
	.v-outer {
		margin-left: -512px;
	}
	.grid_type_2 .grid_scroller_outer {
		width: 708px;
	}

}*/

#grids.loading {
	height: 500px;
}
.grid_con {
	background-repeat: no-repeat;
	background-position: left top;
    position: relative;
}

.grid .subtray {
	position: absolute;
	top: 0;
}
.grid_double_rows .subtray.first_subtray .item{
	width: 450px;
}
.grid_type_3 .first_subtray, .grid_type_1 .first_subtray {
	width: 448px;
}
.grid_type_3 .first_subtray img, .grid_type_1 .first_subtray img {
	width: 448px;
}

.grid_type_2 .item img {
	width: 166px;
}
.grid_type_4 .item img {
	width: auto;
    height:100%;
}
.episode-title{
	font-size: 22px;
	color: #000000;
	padding-bottom: 5px;
}
.episode-number {
	color: #888888;
	padding-bottom: 4px;
}
.episode-desc {
	color: #333333;
	padding-bottom: 2px;
}

/* facebook */
#div-ad-homepage {
	/*padding-left: 15px;*/
	margin-left: 9px;
    width: 300px;
    height: 250px;
    display: block !important;
}
#homepage-fb img {
	vertical-align: middle;
}
#homepage-fb {
	margin-top: 20px;
    width: 300px;
    margin-left: 9px;
}
#homepage-fb-desc-1 {
	padding-left: 23px;
	padding-right: 10px;
}
#homepage-fb-desc-2{
	padding-left: 13px;
}

/* GEO popup */
#welcome-popup-content {
	width: 383px;
}

/* Premium bar */
#premium-bar-wrapper {
    height: 80px;
    position: relative;
    margin-top: 10px;
    font-weight: bold;
    overflow: hidden;
}

#premium-bar-wrapper .home_banner, #home_banner_Shell {
    height:80px;
    width:810px;
    display:block;
    position: relative;
    top: 0;
}

#home_prem_banner a .big_desktop{
    display: block;
}
#home_prem_banner a .small_desktop{
    display: none;
}
#home_prem_banner a .mobile{
    display: none;
}

#home_prem_banner #prem_banner_L {
    position: relative;
    float:left;
}
#home_prem_banner #prem_banner_R {
    position: relative;
    float:right;
}
#home_prem_banner #prem_banner_R .free {
    display: block;
}
#home_prem_banner #prem_banner_R .vip {
    display: none;
}
body.vip #home_prem_banner #prem_banner_R .free {
    display: none;
}
body.vip #home_prem_banner #prem_banner_R .vip {
    display: block;
}

#home_prem_banner #prem_banner_redeem {
    position: absolute;
    width:140px;
    height:45px;
    right:0;
    bottom:0;
}
body.vip #home_prem_banner #prem_banner_redeem {
    display:none;
}

.home_vvc_banner {
    background: url(../images/home/vvc_banner_l.jpg) top no-repeat;
}
.home_vvc_banner a {
    display:block;
    width:100%;
    height:100%;
}
.slick-vertical .slick-slide {
    border: 0px solid transparent;
}


/*#premium-bar-wrapper #premium-bar-band {
    display: block;
    width: 800px;
    height: 28px;
    border-radius: 5px 16px 16px 5px;
    -moz-border-radius: 5px 16px 16px 5px;
    -webkit-border-radius: 5px 16px 16px 5px;
    border: 2px solid #FFBF00;
    line-height: 28px;
    font-size: 14px;
    color: #4D4D4D;
}
#premium-bar-wrapper #premium-bar-band #premium-bar-title {
    font-size: 18px;
    margin-left: 30px;
    margin-right: 20px;
    float: left;
}
#premium-bar-wrapper #premium-bar-band img {
    vertical-align: middle;
    margin-left: 25px;
    margin-right: 5px;
}
#premium-bar-wrapper #premium-bar-button {
    position: absolute;
    display: block;
    right: 356px;
    top:0;
    width: 168px;
    height: 32px;
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    background-color: #E31C79;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    color: white;
}
#premium-bar-wrapper #premium-bar-button img {
    vertical-align: top;
    margin-left: 10px;
    margin-top: 8px;
}*/

@media screen and (max-width: 1280px) {
    /*#premium-bar-wrapper #premium-bar-band {
        width: 620px;
        font-size: 12px;
    }
    #premium-bar-wrapper #premium-bar-band #premium-bar-title {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 0px;
        float: left;
    }
    #premium-bar-wrapper #premium-bar-band img {
        vertical-align: middle;
        margin-left: 10px;
        margin-right: 0px;
    }*/

        #premium-bar-wrapper .home_banner, #home_banner_Shell {
        width:630px;
    }

#home_prem_banner a .big_desktop{
    display: none;
}
#home_prem_banner a .small_desktop{
    display: block;
}
#home_prem_banner a .mobile{
    display: none;
}

.home_vvc_banner {
    background: url(../images/home/vvc_banner_m.jpg) top no-repeat;
}
    .v-hot-wrap {
		width: 984px;
	}
}
