#web_to_app_container {
	position: fixed;
	z-index: 9999;
	background-color: #ffbf00;
	right: 10px;
	bottom: 10px;
	width: 452px;
	height: 100px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 10px #000;
	padding: 10px;
}
#web_to_app_container.closed {
	display: none;
}
#home_web_to_app_banner{
	font-size: 16px;
	color: #000;
	opacity: 0;
}
#home_web_to_app_banner.shown {
	opacity: 1;
	animation: fadeIn ease-in-out 0.3s;
	-webkit-animation: fadeIn ease-in-out 0.3s;
	-moz-animation: fadeIn ease-in-out 0.3s;
}
#home_web_to_app_banner.hidden {
	opacity: 0;
	animation: fadeOut ease-in-out 0.3s;
	-webkit-animation: fadeOut ease-in-out 0.3s;
	-moz-animation: fadeOut ease-in-out 0.3s;
}
#home_web_to_app_banner.closed {
	display: none;
}

@keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#home_web_to_app_banner .left_box {
	float: left;
	width: 90px;
	height: 90px;
	margin: -5px 0px 0px -5px;
	background-color: #fff;
	border-radius: 3px;
	padding: 10px;
}

#home_web_to_app_banner .right_box {
	float: left;
	margin-left: 10px;
    width: 315px;
}

#home_web_to_app_banner .right_box div {
	margin-bottom: 10px;
}

#home_web_to_app_banner .right_box img {
	margin-right: 10px;
}

#home_web_to_app_banner .close_btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

#home_web_to_app_banner .never_show_btn {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 12px;
	text-decoration-line: underline;
	cursor: pointer;
}

#mb_web_to_app_button {
	position: fixed;
	z-index: 9999;
	background-color: #ffbf00;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	color: #000;
	border-radius: 24px;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	bottom: 20px;
	bottom: calc(20px + constant(safe-area-inset-bottom));
	bottom: calc(20px + env(safe-area-inset-bottom));
	left: 50%;
	padding: 12px 36px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	cursor: pointer;
}

#mb_web_to_app_button.shown {
	bottom: 20px;
	bottom: calc(20px + constant(safe-area-inset-bottom));
	bottom: calc(20px + env(safe-area-inset-bottom));
	animation: slideIn ease-in-out 0.3s;
	-webkit-animation: slideIn ease-in-out 0.3s;
	-moz-animation: slideIn ease-in-out 0.3s;
}
#mb_web_to_app_button.hidden {
	bottom: -150px;
	bottom: calc(-150px + constant(safe-area-inset-bottom));
	bottom: calc(-150px + env(safe-area-inset-bottom));
	animation: slideOut ease-in-out 0.3s;
	-webkit-animation: slideOut ease-in-out 0.3s;
	-moz-animation: slideOut ease-in-out 0.3s;
}

@keyframes slideIn{
	0% {
		bottom: -150px;
		bottom: calc(-150px + constant(safe-area-inset-bottom));
		bottom: calc(-150px + env(safe-area-inset-bottom));
	}
	100% {
		bottom: 20px;
		bottom: calc(20px + constant(safe-area-inset-bottom));
		bottom: calc(20px + env(safe-area-inset-bottom));
	}
}

@-moz-keyframes slideIn {
	0% {
		bottom: -150px;
		bottom: calc(-150px + constant(safe-area-inset-bottom));
		bottom: calc(-150px + env(safe-area-inset-bottom));
	}
	100% {
		bottom: 20px;
		bottom: calc(20px + constant(safe-area-inset-bottom));
		bottom: calc(20px + env(safe-area-inset-bottom));
	}
}

@-webkit-keyframes slideIn {
	0% {
		bottom: -150px;
		bottom: calc(-150px + constant(safe-area-inset-bottom));
		bottom: calc(-150px + env(safe-area-inset-bottom));
	}
	100% {
		bottom: 20px;
		bottom: calc(20px + constant(safe-area-inset-bottom));
		bottom: calc(20px + env(safe-area-inset-bottom));
	}
}

@keyframes slideOut{
	0% {
		bottom: 20px;
		bottom: calc(20px + constant(safe-area-inset-bottom));
		bottom: calc(20px + env(safe-area-inset-bottom));
	}
	100% {
		bottom: -150px;
		bottom: calc(-150px + constant(safe-area-inset-bottom));
		bottom: calc(-150px + env(safe-area-inset-bottom));
	}
}

@-moz-keyframes slideOut {
	0% {
		bottom: 20px;
		bottom: calc(20px + constant(safe-area-inset-bottom));
		bottom: calc(20px + env(safe-area-inset-bottom));
	}
	100% {
		bottom: -150px;
		bottom: calc(-150px + constant(safe-area-inset-bottom));
		bottom: calc(-150px + env(safe-area-inset-bottom));
	}
}

@-webkit-keyframes slideOut {
	0% {
		bottom: 20px;
		bottom: calc(20px + constant(safe-area-inset-bottom));
		bottom: calc(20px + env(safe-area-inset-bottom));
	}
	100% {
		bottom: -150px;
		bottom: calc(-150px + constant(safe-area-inset-bottom));
		bottom: calc(-150px + env(safe-area-inset-bottom));
	}
}

.tablet #mb_web_to_app_button {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#mb_web_to_app_button, .tablet #web_to_app_container, #mb_web_to_app_button.closed {
	display: none;
}

@media screen and (max-width: 660px) {
	#mb_web_to_app_button {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	#web_to_app_container, #mb_web_to_app_button.closed {
		display: none;
	}
}